.center-content-horiz {
	display: flex;
	justify-content: center;
}

.center-content-vert {
	display: flex;
	align-items: center;
}

.center-content-hv {
	display: flex;
	justify-content: center;
	align-items: center;
}
