.center-content-horiz {
	display: flex;
	justify-content: center;
}

.center-content-vert {
	display: flex;
	align-items: center;
}

.center-content-hv {
	display: flex;
	justify-content: center;
	align-items: center;
}

html, body, .fill-parent {
	width: 100%;
	height: 100%;
}

.menu-button {
	background-color: black;
	border: 2px solid white;
	border-radius: 5px;
	margin: 6px;
	color: white;
	position: relative;
}

.tooltip {
	position: absolute;
	left: 100%;
}
