.menu-button {
	display: flex;
	align-items: center;
	position: relative;
	margin: 0px;
	width: 120%;
	border: 2px solid transparent;
	padding: 6px;
	border-radius: 10px;
}

.button-label-wrapper {
	width: 100%;
	border: 2px solid grey;
	color: grey;
	border-radius: 10px;
	padding: 8px;
}

.button-label {
	font: 20px Rodondo, sans-serif;
	margin: 0px;
	text-align: center;
	width: 100%;
}

.button-tooltip-wrapper {
	color: lightgrey;
	font: 18px Rodondo, sans-serif;
	position: absolute;
	left: 110%;
	width: 40ch;
	border: 2px solid lightgrey;
	border-radius: 10px;
	padding: 7px;
	display: none;
}

.button-tooltip {
	margin: 0;
}

.menu-button:hover {
	border-color: white;
}

.menu-button:hover > .button-label-wrapper {
	border-color: white;
	color: white;
}

.menu-button:hover > .button-tooltip-wrapper {
	display: initial;
}

